POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=votre_db_api
DATABASE_URL=postgresql://votre_username:votre_password@postgres:5432/votre_db_api

BASE_API_URL=http://localhost:3000/api
FRONTEND_URL=http://localhost:5173

# JWT configuration
JWT_SECRET=votre_key_secret
JWT_REFRESH_SECRET=votre_key_refresh
JWT_EXPIRES_IN=1800 #30 minutes
JWT_REFRESH_EXPIRES_IN=86400  # 1 jour = 86400 secondes
NODE_ENV=development

# 
GEMINI_API_KEY=votre_gemini_api_key